# QA Log — E3 Categorização
## Execução: 2026-04-04 22:12

### Transações não identificadas: 50

| Data | Descrição | Valor | Banco | Fonte |
|---|---|---|---|---|
| 2025-01-02 | Pix Qrcode Din | R$22.00 | Bradesco |  |
| 2025-01-02 | Pix Qrcode Din | R$22.99 | Bradesco |  |
| 2025-01-10 | Pix Qrcode Est | R$99.00 | Bradesco |  |
| 2025-02-04 | Pix Qrcode Din | R$10.00 | Bradesco |  |
| 2026-01-12 | Pix Qrcode Din | R$16.99 | Bradesco |  |
| 2026-01-20 | Pix Qrcode Din | R$767.00 | Bradesco |  |
| 2026-01-21 | Pix Qrcode Din | R$3,183.24 | Bradesco |  |
| 2026-01-28 | Pix Qrcode Din | R$194.96 | Bradesco |  |
| 2026-01-28 | Pix Qrcode Din | R$69.99 | Bradesco |  |
| 2026-01-28 | Pix Qrcode Din | R$21.90 | Bradesco |  |
| 2026-01-28 | Pix Qrcode Din | R$69.54 | Bradesco |  |
| 2026-01-29 | Pix Qrcode Din | R$56.76 | Bradesco |  |
| 2026-01-29 | Pix Qrcode Din | R$29.90 | Bradesco |  |
| 2026-01-30 | Pix Qrcode Din | R$35.99 | Bradesco |  |
| 2026-02-02 | Pix Qrcode Din | R$427.50 | Bradesco |  |
| 2026-02-02 | Pix Qrcode Din | R$88.50 | Bradesco |  |
| 2026-02-02 | Pix Qrcode Din | R$69.99 | Bradesco |  |
| 2026-02-02 | Pix Qrcode Din | R$54.60 | Bradesco |  |
| 2026-03-09 | Pix Qrcode Din | R$32.00 | Bradesco |  |
| 2025-03-31 | Pix enviado para ELAINE WENZEL | R$10.00 | C6 Bank |  |
| 2025-04-03 | Debito de Cartao | R$30.00 | C6 Bank |  |
| 2025-04-05 | Outros gastos | R$40.00 | C6 Bank |  |
| 2025-04-06 | Pix enviado para paqueta nossa senhora do brasil | R$500.00 | C6 Bank |  |
| 2025-04-07 | Pagamento | R$15,967.78 | C6 Bank |  |
| 2025-04-10 | Outros gastos | R$20.00 | C6 Bank |  |
| 2025-04-10 | Pix enviado para REGIANE DONIZETTI BALBINO | R$100.00 | C6 Bank |  |
| 2025-04-12 | Outros gastos | R$23.00 | C6 Bank |  |
| 2025-04-14 | Outros gastos | R$428.80 | C6 Bank |  |
| 2025-04-16 | Pix enviado para ELIBERTO JOSE DE LIMA | R$500.00 | C6 Bank |  |
| 2025-04-16 | Pagamento | R$226.68 | C6 Bank |  |
| 2025-04-17 | Pagamento | R$576.12 | C6 Bank |  |
| 2025-04-18 | Outros gastos | R$352.75 | C6 Bank |  |
| 2025-04-18 | Outros gastos | R$28.00 | C6 Bank |  |
| 2025-04-21 | Outros gastos | R$70.00 | C6 Bank |  |
| 2025-04-21 | Outros gastos | R$6.20 | C6 Bank |  |
| 2025-04-21 | Outros gastos | R$16.50 | C6 Bank |  |
| 2025-04-21 | Outros gastos | R$12.80 | C6 Bank |  |
| 2025-04-21 | Outros gastos | R$9.80 | C6 Bank |  |
| 2025-04-22 | Outros gastos | R$5.80 | C6 Bank |  |
| 2025-04-23 | Pix enviado para ANA MARIA DE OLIVEIRA | R$80.00 | C6 Bank |  |
| 2025-04-23 | Pix enviado para Poupa Medi | R$280.00 | C6 Bank |  |
| 2025-04-23 | Outros gastos | R$50.00 | C6 Bank |  |
| 2025-07-07 | PIX TRANSF RUBENS 06/07 | R$1,000.00 | Itaú |  |
| 2026-01-12 | PAG Multa de Veículo | R$682.06 | Itaú |  |
| 2026-01-12 | PAG Licenciamento de Veículo | R$174.08 | Itaú |  |
| 2026-01-27 | MENSALIDADE DE SEGURO Parc 007/012 AP | R$10.07 | Santander |  |
| 2026-02-27 | MENSALIDADE DE SEGURO Parc 008/012 AP | R$10.07 | Santander |  |
| 2026-03-27 | MENSALIDADE DE SEGURO Parc 009/012 AP | R$10.07 | Santander |  |
| 2025-06-07 | Brasilp*BrasilPara 11/12 | R$59.00 | Itaú |  |
| 2025-06-07 | Brasilp*BrasilPara 11/12 | R$59.00 | Itaú |  |

### Taxa: 40.7%
